<mat-toolbar color="primary">
  <header>
    <button mat-icon-button (click)="logout()" matTooltip="Logout">
      <mat-icon>logout</mat-icon>
    </button>
    <span>Wellcome {{ userName }} to the Notes App</span>
  </header>
  <button mat-icon-button (click)="createNote()" matTooltip="Create Note">
    <mat-icon>add</mat-icon>
  </button>
</mat-toolbar>

<body>
  <mat-tab-group mat-align-tabs="start">
    <mat-tab label="List">
      <app-list
        [list]="list"
        (delete)="deleteNote($event)"
        (edit)="updateNote($event)"
      ></app-list>
    </mat-tab>
    <mat-tab label="Cards">
      <app-card></app-card>
    </mat-tab>
  </mat-tab-group>
</body>
